<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>DNI</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Teléfono</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients">
      <td>{{patient.dni}}</td>
      <td>{{patient.name}}</td>
      <td>{{patient.lastName}}</td>
      <td>{{patient.phone}}</td>
      <td>
        <a class="btn" (click)="onEdit(patient)">
          <i class="fas fa-edit"></i>
        </a>
        <a class="btn" (click)="onDelete(patient.key)">
          <i class="far fa-trash-alt"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>